.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item-gift-id.form-item,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item-gift-id .form-item {
  padding-bottom: 0;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item-gift-id label {
  float: none;
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item-gift-id input[type="checkbox"] {
  float: left;
  margin-top: 10px;
}

.form-item-gift-id input[type="checkbox"] + span.field-suffix {
  display: block;
}
